---
import Seo from '@/components/SEO.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<Seo/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	body{
		background-color: rgb(12, 11, 11);
	}

</style>
